<div class="idea-finder">
  <div class="switch-concern">
    I'm worried about <%= link_to "#{@concern_name}.".html_safe, concerns_path %>
    <strong>What can I do?</strong>
  </div>

  <div class="idea">
    <div class="name"><%= @idea.name %></div>
    <div class="contributor">
      <% if @idea.contributor_name? or @idea.contributor_place? %>
        Idea contributed by
        <% if @idea.contributor_name? %>
          <%= @idea.contributor_name %>
        <% else %>
          a concerned person
        <% end %>
        <% if @idea.contributor_place? %>
          from <%= @idea.contributor_place %>
        <% end %>
      <% else %>
        Idea contributed anonymously
      <% end %>
    </div>
    <div class="description"><%= @idea.description %></div>
  </div>
  <div class="buttons">
    <%= link_to "How will this help?", "#", class: 'learn-more secondary-link' %>
    <a href="<%= @idea.action_url %>" target="_blank" class="button" target="_blank">OK, I'll do it!</a>
    <%= link_to "I want another idea", random_ideas_path, class: 'another secondary-link' %>
  </div>

  <div class="share">
    <div class="fb-share-button" 
		     data-href="<%= idea_url(@idea) %>"
         data-size="large"
		     data-layout="button_count">
    </div>
    <a class="twitter-share-button"
       href="https://twitter.com/intent/tweet?text=<%= URI.encode(@idea.name) %>"
       data-size="large"></a>
  </div>
</div>
