<div class="narrative">
  <h2>Why does this site exist?</h2>

  <p>Donald Trump is the next President of the United States. He will wield enormous power, making life-or-death decisions on behalf of all of humanity. We find this state of affairs concerning.</p>

  <p>We believe that the people threatened by Trump, both explicitly and implicitly, deserve our vigilance and support. Furthermore, issues such as global climate change cannot wait four or eight years to be addressed. We as a people need to take swift and decisive action now.</p>

  <p>Finally, we love this country and believe that our democracy and its ideals can only thrive if its citizens stand up and protect it. In our minds this doesn't mean going to war with Trump's supporters. Instead, it means making sure that our nation unites behind candidates who can truly represent all Americans in 2018, 2020 and beyond.</p>

  <p>Meanwhile the damage has already begun to accrue, but we can fight back. We hope <em>What Now?</em> will connect worried people with ways to direct their energy, time and money to help those in need and ensure a better future for everyone. Now is the time to get involved in your democracy, and stay involved through 2018, 2020 and beyond.</p>

  <h2>How can I help?</h2>

  <p>First, please <%= link_to "submit your ideas", new_idea_path %> so we can increase the diversity of perspectives on fighting back against bigotry, hate, ignorance and harmful policies. If you think we missed a whole category of concern, please let us know <%= link_to "with a Twitter DM", "http://twitter.com/whatnowio" %>.</p>

  <p>It's early days yet, and our best ideas may still be ahead of us. Consider <%= link_to "following us on Twitter", "http://twitter.com/whatnowio" %> and <%= link_to "signing up for our infrequent newsletter", "http://tinyletter.com/whatnowio" %> to receive updates when we launch something new.</p>

  <p>If you have other thoughts, please get in touch. We will need ideas from everyone and everywhere to move forward.</p>

  <h2>Something is broken!</h2>

  <p>Figures! This site was developed mainly in the early morning hours under the influence of a lot of emotion. We would very much appreciate your <%= link_to "bug reports on Twitter", "http://twitter.com/whatnowio" %>.</p>

  <h2>I disagree with you.</h2>

  <p>A lot of people do. If you want to try to engage in a productive dialogue, please reach us on Twitter. Our country can't become (or stay) great unless we can talk with each other.</p>
</div>
